.product{
    height: 550px;
    display: flex;
    align-items:center ;
    justify-content: center;
}
.section{
    height: 450px;
    width: 50%;
    display: flex;
    align-items:center ;
    justify-content: center;
    background-color: white;
    box-shadow: 1px 1px 2px 2px lightgray;
    border-radius: 20px;
    border: 0.5px solid lightgray;
}
.product img{
    height: 400px;
    width: 350px;
    border-radius: 20px;
    border: 1px solid rgb(201, 234, 238);
    margin: 0px 20px;
}
.about{
    height: 400px;
    width:100%;
    padding: 5px;
}
#price{
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}
.about p{
    margin: 5px 0px;
}
input{
    margin: 10px 20px;
}
.about button{
    margin: 10px;
    background-color: rgb(206, 55, 14);
    height: 30px;
    width: 110px;
    border: none;
    border-radius: 10px;
    color:aliceblue;
}
#add{
    background-color: blue;
    height: 30px;
    width: 110px;
    border: none;
    border-radius: 10px;
    color:aliceblue;
}
hr{
    margin: 10px 0px;
}
.reletedProduct{
    border: 1.5px solid rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    gap:2%;
    padding: 10px;
    margin: 20px;
    flex-wrap: wrap;
}

h2{
    text-align: center;
    font-size: 30px;
}
@media screen and (max-width:450px) {
    .product{
        height: 600px;
    }
    .section {
        height: 570px;
        width: 100%;
       flex-wrap: wrap;
       box-shadow: none;
       border: none;
       margin-bottom: 10px;
    }
    .section img {
        height: 360px;
        width: 100%;
        margin: 0px 25px;
        border-radius: 0px;
    }
    #price{
        display: inline-block;
        margin-left: 10px;
    }
    .about{
        padding: 0px;
    }
    .about1{
        margin: 5px;
    }
    .about h2{
        font-size: 20px;
        text-align: left;
        font-weight: 300;
    }
    .about p{
        display: inline; 
        color: rgb(116, 115, 115);
    }
    .about h3{
        margin-top: 10px;
        font-weight: 300;
    }
    .about i{
        color: green;
    }
    #price{
        font-size: 15px;
    }
    #Releted{
        margin: 10px;
        font-size: 25px;
        font-weight: 300;
        background-color: green;
        color: aliceblue;
        border-radius: 10px;
    }
    .reletedProduct{
        padding: 0px;
        margin: 0px;
        gap: 4px;
        
    }
  
    .button{
        background-color: white;
        height: 50px;
        width: 100%;
        position: fixed;
        bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 2px 2px 4px 2px rgb(112, 111, 111);
       
    }
    .button button{
        margin: 0px;
        height: 80%;
        width: 40%;
        border-radius: 10px;
    
    }
    #add{
        margin: 0px;
        height: 80%;
        width: 40%;
        border-radius: 10px;
    }
}
@media screen and (min-width:481px) and (max-width:998px) {
    .product{
        width: 75%;
        height: 670px;
        margin: auto;
        margin-top: 10px;
    }
    .section {
        height: 650px;
        width: 95%;
       flex-wrap: wrap;
       margin-bottom: 10px;
    }
    .section img {
        height: 400px;
        width: 95%;
        margin: 10px;
    }
    #price{
        display: inline-block;
        margin-left: 10px;
    }
    .about p{
        display: inline; 
    }
    .about h3{
        margin-top: 10px;
    }
    #Releted{
        margin: 10px;
        font-size: 35px;
    }
    .reletedProduct{
        padding: 0px;
        margin: 0px;
    }  
    
}