*{
    padding: 0;
    margin: 0;
}
.body{
    height: 1300px;
    display: flex;
    flex-wrap: wrap;
}
.main{
    width: 25%;
    height: 300px;
    display: inline-block;
    margin: 10px 0px;
}
.img1{
    height: 300px;
    width: 250px;
    
    object-fit: cover;
}
h3 {
    width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}