*{
  padding:0;
  margin: 0;
}

.mains{
    /* height: 800px; */
    display: flex;
    margin-bottom: 180px;
}
.filters{
    height: 600px;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: sticky;
    top:80px;
    background-color: white;
    box-shadow: 0px 1px 2px 2px lightgray;
    border-radius: 5px;
}
.filters h4{
    display: inline-block;
    margin: 10px 20px;
}
input{
    margin-right: 10px;
    font-weight: 500;
    padding: 5px;
    margin: 5px 5px;
    display: inline-block;
}
.filters p{
    color: rgb(224, 28, 28);
    margin-bottom: 5px;
}
.categories{
  border-top: 1px solid rgb(109,108,108,0.392);
  padding: 10px;
  font-weight: 200;
}
.Price{
    border-top: 1px solid rgba(109, 108, 108, 0.392);
    padding: 10px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.color{
    border-top: 1px solid rgb(109,108,108,0.392);
    
    padding: 10px;
    font-weight: 200;

}
.myProduct{
    /* height: 1450px; */
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:25px;
    margin-top: 60px;
    
}
.iteam{
    height: 335px;
    width: 20.5%;
    background-color:white;
    text-align: center;
    padding-top: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px lightgray;
   
}
.iteam img{
    height: 290px;
    width: 90%;
    border-radius: 10px;
   
}
del{
    color: rgb(138, 137, 137);
}
i{
    color: orangered;
}
#error{
    font-size: 30px;
    color: green;
}
.filters-Icon{
  display: none;
}
@media screen and (max-width:480px) {
      .filters{
        height: 600px;
        position: fixed;
        top:70px;
        left: -100%;
        z-index: 2;
      }
      .filters.active{
        left: 0px;
      }
      .filters-Icon{
        height: 60px;
        width: 100%;
        background-color: aliceblue;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0px;
        text-align: center;
        background-color: rgb(169, 169, 169);
        z-index: 2;
      }
      .sortI{
        width: 50%;
        border-right: 1px solid;
      }
     .S-Logo{
        font-size: 50px;
     }
      #S-Icon{
        display: none;
      }
      #F-Icon{
        display: none;
      }
      .filterI{
        width: 50%;
      
      }
      #Icon-position{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .F-Logo{
        font-size: 50px;
      }
      .myProduct{
        gap:7px;
        margin-top: 0px;
        margin-bottom:10px ;
      }
      .iteam{
        width: 46%;
        box-shadow:none;
        border: 1px solid rgb(114, 113, 113);
        padding: 0px;
      }
      .iteam img{
        width: 100%;
      }
}
@media screen and (min-width:481px) and (max-width:998px) {
       .filters{
        height: 600px;
        position: fixed;
        top:70px;
        left: -100%;
        z-index: 2;
      }
      .filters.active{
        left: 0px;
      }
      .filters-Icon{
        height: 60px;
        width: 100%;
        background-color: aliceblue;
        display: flex;
        justify-content: space-evenly;
        position: fixed;
        bottom: 0px;
        text-align: center;
      }
      .sortI{
        width: 50%;
        border-right: 1px solid;
      }
     .S-Logo{
        font-size: 50px;
     }
      #S-Icon{
        display: none;
      }
      #F-Icon{
        display: none;
      }
      .filterI{
        width: 50%;
      
      }
      #Icon-position{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
      }
      .F-Logo{
        font-size: 50px;
      }
      .myProduct{
        gap:17px;
        margin-top: 0px;
        margin-bottom:10px ;
      }
      .iteam{
        height: 400px;
        width: 45%;
        box-shadow:none;
        border: 1px solid rgb(114, 113, 113);
        padding: 0px;
      }
      .iteam img{
        height: 84%;
        width: 100%;
      }
      del{
        font-size: 25px;
      }
      i{
        font-size: 20px;
      }
      .iteam p{
        font-size: 25px;
      }
}
   
