
.mainCart{
    padding: 10px 5px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
.cartHead{
    text-align: left;
    font-size: 22px;
    color:rgb(86, 86, 86);
}
.cartProduct{
    padding: 5px;
    display: flex;
    gap: 5px;
}
.cartProduct img{
    width: 130px;
    height: 160px;
}
.cartProduct p{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 20px;
}
#about{
    font-size: 20px;
    line-height: 24px;
}
.del{
    color: rgb(59, 59, 59);
    text-decoration: line-through;
}
.off{
    color: green;
}
#priceF{
  font-size: 17px;
  line-height: 24px;
}
.cartProductInfo{
   position: relative;
}
.cartProduct button{
    height: 25px;
    width: 70px;
     border: 1px solid darkgray;
    border-radius: 5px;
    margin: 5px;
    color: red;
    position:absolute ;
    bottom: 5px;
}

#clearCart{
    height: 30px;
    width: 90px;
    box-shadow: 1px 1px 2px 2px darkgray;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    margin: 5px;
    background-color: orangered;
    color: white;
}
