footer{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:rgba(230, 228, 234, 0.953);
    margin-top: 50px;
    z-index: 2;
    margin-top: 50px;
    position: relative;
    bottom: 0px;
    border-top: 8px solid rgba(211, 211, 211, 0.218);
}
.f1{
    height: 200px;
    width: 160px;

    font-size: 15px;
}
ul{
    color: rgba(0, 0, 0, 0.516);
    
}
.f1 img{
    width: 50%;
    height: 20px;
    
    
}
@media screen and (max-width:450px) {
    footer{
        padding-top: 10px;
        flex-wrap: wrap;
        justify-content: center;
        gap:10px;

    }
    .f1{
        height: 100px;
        line-height: 15px;
        font-size: 10px;
        text-decoration: none;
    }
    .f1 h4{
        font-size: 14px;
        color: rgb(53, 53, 53);
    }
    li{
        color: rgba(0, 0, 0, 0.516);
    }
    
}