*{
    padding: 0;
    margin: 0;
}
body{
    
    color: rgb(11, 11, 11);
    background-color: rgba(243, 240, 237, 0.31);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    background-size: cover;
    top:0px; 
}
button{
    cursor: pointer;
}
header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color:white;
    position: sticky;
    box-shadow: 0px 0px 2px 1px lightgray;
    top:0px;
    z-index: 2;

}

.logo{
    margin-left: 10px;
}
#listI{
    display: none;
}
#check1{
    display: none;
}

header img{
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    mix-blend-mode: darken;
}

.a{
    height: 30px;
    width: 400px;
    display:flex;
    justify-content: space-evenly;
    text-decoration: none;
    font-size: 20px;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    
}
.nav{
    text-decoration: none;
    color: rgb(11, 11, 11);
    font-size: 22px;
    height: 20px;
    padding:5px 15px;
    padding-bottom: 10px;
}
.nav:hover{
    /* color: rgb(30, 86, 146); */
    background-color: #11111117;
    border-radius: 5px;
    transform: translateY(2px);
}
.newNav{
    display: none;
}
.nav2{
    text-decoration: none;
    color: rgb(14, 14, 14);
    font-size: 18px;
    font-weight: 200;
}
.nav2:hover{
    color: rgb(30, 86, 146);
}
.search{
    height: 40px;
    width: 430px;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px rgb(223, 222, 222);
    color: #111111;
    padding-left: 10px;
    display: flex;
    align-items: center;
}
#search{
    border: none;
    width: 88%;
    border:0.5px solid white;
    margin: 0px;
}
.search:hover{
    box-shadow:0px 1px 4px 2px rgba(242, 162, 229, 0.795) ;
}
#icon{
    color: #5c5b5b;
}
.profile{
    height: 40px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
#profile{
    width: 50px;
    text-align: center;
}
.profileI{
    text-align: center;
    color:  #4a4a4a;
    font-size: 25px;
}
.cart{
    width: 55px;
    text-align: center;
}
#cartI{
    font-size: 25px;
    font-weight: 100;
    color: #4a4a4a;
}
.wish{
    width: 50px;
    text-align: center;
    color:  #4a4a4a;
}
#wishI{
    font-size: 25px;
    text-align: center;
}
a{
    text-decoration: none;
}
.hShop{
    display: none;
}
@media  screen and (max-width:480px) {
header{ 
    height: 55px;
    flex-wrap: wrap;
    margin-bottom: 55px;
    justify-content: space-around;

}
header.no-margin{
    margin-bottom: 5px;
}
.logo{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:25px;
    margin-right: 25%;
    margin-left: 0px;
}
#listI{
    display: block;
    font-size: 25px;
    font-weight: 200;
    color: #2b2a2a;
    cursor: pointer;
}
header img{
    height: 35px;
}

.a{
   flex-direction: column;
   height:100vh;
   width: 280px;
   position: fixed  ;
   top:55px;
   left:-100%;
   z-index: 1;
   justify-content: flex-start;
   background-color:white;
   transition: 0.4s;
  
}
.a.active{
    left: 0px;
    position: absolute;
}
.hShop{
    display: block;
    height: 70px;
    background-color: rgb(246, 239, 177);
    margin-bottom: 10px;
    padding-left: 10px;
}
.hShop p{
    font-size: 15px;
}
.a h3{
    font-size: 25px;
    margin-top: 10px;
    color: rgb(16, 104, 18);
}
.nav{
    display: none;
   
}
.newNav{
    display:flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 800;
    font-size: 15px;
    padding: 0px 10px;
    text-decoration: none;
    color: #292828;
    line-height: 20px;
}
.newNav h3{
    color: #302f2f;
    font-size: 15px;
}
.tag {
    width: 100px;
}
.arrow {
    position: relative;
    right: -130px;
}
#login{
    margin-top: 10px;
    
}
#login h2{
    font-size: 15px;
    color:rgb(82, 82, 241);
}
.search{
    position:absolute;
    bottom: -40px;
    background-color: white;
    width:90%;
    height: 35px;
   
}
.profile{
     width: 42%;
}
.nav2{
    display: none;
}
#wishI{
    font-size: 30px;
}
#cartI{
    font-size: 30px;
}
}
@media screen and (min-width:481px) and (max-width:768px) {
    header{
        height: 60px;
    }
   #search{
    width: 80%;
   }
   .nav2{
    display: none;
   }
   #profile{
    font-size: 30px;
   }
   #wishI{
    font-size: 35px;
   }
   #cartI{
    font-size: 35px;
   }
 
}