.otbanner {
    height: 420px;
    overflow: hidden;
    margin-top: 10px;
    z-index: -1;
    /* text-align: center; */

}

.banner1 {
    height: 400px;
    width: 88%;
    display: flex;
    object-fit: cover;
    background-color: rgba(247, 159, 65, 0.529);
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    margin-bottom: 30px;

}

.swiper-slide {
    display: flex;
    justify-content: center;
    z-index: -1;
}

.swiper-pagination-bullet {
    width: 7px;
    height: 7px;
   
}

.Bpart1 {
    height: 340px;
    width: 35%;
    padding-left: 100px;
}

.Bpart1 h1 {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 10px;
    color: rgb(35, 35, 33);
    text-shadow: 0px 3px 1px darkgray;
}

.Bpart1 h4 {
    margin-top: 10px;
    font-size: 20px;
    color: rgb(6, 89, 25);
}

.Bpart1 button {
    height: 35px;
    width: 120px;
    font-size: 15px;
    background-color: #1f1930;
    border-radius: 5px;
    border: none;
    color: rgb(255, 252, 252);
    margin: 10px 0px;
}

.banner1 img {
    height: 100%;
    width: 40%;
}

#Bpart2 {
    height: 250px;
    width: 50%;
    padding-left: 150px;
}

#banner2 {
    background-color: rgb(213, 213, 124);
    padding: 0px;
}

#banner2 h3 {
    color: #156d16;
    font-weight: 300;
    font-size: 30px;
}

#banner2 img {
    height: 100%;
    width: 48%;
}

#Bpart3 {
    height: 250px;
    width: 50%;
    padding-left: 150px;
}

#banner3 {
    background-color: rgb(153, 172, 235);
    padding: 0px;
}

#banner3 h3 {
    color: #1e8612;
    font-weight: 300;
    font-size: 30px;
}

#banner3 img {
    height: 100%;
    width: 48%;
}

#Bpart4 {
    height: 250px;
    width: 40%;
    padding-left: 150px;
}

#banner4 {
    background-color: rgb(111, 234, 160);
    padding: 0px;
}

#banner4 h1 {
    color: #1f1930;
}

#banner4 h3 {
    color: #0f6a11;
    font-weight: 300;
    font-size: 30px;
}

#banner4 img {
    height: 100%;
    width: 40%;
    padding-right: 100px;
}


.brandrow {
    height: 70px;
    margin: 0px 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* animation: Brand 10s linear infinite; */
}

.brandrow img {
    height: 40px;
    width: 160px;
    object-fit: cover;
}

#brand1 {
    height: 50px;
    width: 60px;
}

.slideSwiper {
    height: 300px;
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    /* padding-left: 4%; */
    overflow: hidden;

}

.swiperslide {
    width: 50%;
}

/* .slideSwiper .swiper-slide {
    width: 33% !important;
} */

.BG1 {
    height: 230px;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    background-image: url(../assets/home/2025-06-23.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    margin-bottom: 30px;

}

.BG2 {
    height: 230px;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    background-image: url(../assets/home/Sscreen3.jpeg);
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: last baseline;

}

.BG3 {
    height: 230px;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    background-image: url(../assets/home/2025-06-230.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.BG4 {
    height: 230px;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    background-image: url(../assets/home/BG4.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.BG5 {
    height: 230px;
    width: 90%;
    padding: 5px;
    border-radius: 20px;
    background-image: url(../assets/home/BG5.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: last baseline;
}

.tittle {
    height: 125px;
    text-align: right;
    text-align: center;

}

.tittle button {
    background-color: #ffffff41;
    margin: 10px;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 10px;
}

.tittle button:hover {
    background-color: rgba(255, 255, 255, 0.264);
    color: black;
    font-weight: 600;
}

.tittle h2 {
    font-weight: 300;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.856);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.byCat {
    height: 400px;
    width: 100%;
    ;
    text-align: center;
}

.topCatagoryHeading {
    margin-left: 20px;

}

.byCat h2 {

    font-size: 30px;
}

.byCat p {
    margin-top: 5px;
}

.catS {
    height: 320px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 0px 2%;

}
.cat1:hover{
     transform: scale(.9);
}
.cat2:hover{
     transform: scale(.9);
}
.cat3:hover{
     transform: scale(.9);
}
.cat4:hover{
     transform: scale(.9);
}
.cat5:hover{
     transform: scale(.9);
}
.cat1 {

    height: 300px;
    width: 260px;
    border-radius: 10px;
    background-image: url(../assets/home/man.jpg);
    background-size: cover;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: -1;
}

.cat2 {
    background-image: url(../assets/home/womanfation.jpg);
    background-size: cover;
    height: 300px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    z-index: -2;

}

.cat3 {
    background-image: url(../assets/home/kidcasual.jpeg);
    background-size: cover;
    height: 300px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    z-index: -2;

}

.cat4 {
    background-image: url(../assets/home/kid00.jpeg);
    background-size: cover;
    height: 300px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    z-index: -2;

}

.cat5 {
    background-image: url(../assets/home/Sport2.jpeg);
    background-size: cover;
    height: 300px;
    width: 260px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: last baseline;
    z-index: -2;

}

.catTittle {
    background-color: #4407bffc;
    background: linear-gradient(to right, rgb(220, 220, 26), rgb(241, 241, 239) 50%, rgb(210, 231, 15));
    padding: 2px 0px;
    width: 100%;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    line-height: 20px;
}

.catTittle h3 {
    color: rgb(62, 14, 14);
}

.catTittle del {
    color: rgb(62, 14, 14);
}

.catTittle b {
    margin-left: 5px;
    font-size: 17px;
    color: rgb(62, 14, 14);
}

.cat {
    height: 200px;
    width: 200px;
    text-align: center;
}

.promies1 {
    height: 70px;
    margin: 0px 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.pro01 {
    height: 60px;
    display: flex;
    padding: 5px;
    /* background-color: #ffffffbb; */
}

.promies1 img {
    height: 50px;
    margin: 0px 5px;
    object-fit: cover;
}

.trend1 {
    height: 430px;
    text-align: center;
    padding-top: 10px;
}

.trend1 h3 {
    font-size: 30px;
    color: darkorchid;
}

.trend01 {
    height: 370px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 2%;
    padding-top: 5px;
}

.trendImg1 img {
    height: 310px;
    width: 250px;
    border-radius: 20px;
    padding: 5px;
    background: linear-gradient(45deg, rgb(220, 106, 187), darkgray);
    cursor: pointer;
}

.trendImg1 button {
    width: 100px;
    height: 30px;
    font-weight: 700;
    color: brown;
    position: relative;
    border: 2px solid rgb(243, 245, 247);
    background-color: transparent;
    border-radius: 5px;
    top: -45px
}

.trendImg1 button:hover {
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.403);
    color: rgb(37, 37, 37);
}

.bySellers {
    /* height: 1500px; */
    width: 100%;
    text-align: center;
}

#sell {
    font-size: 30px;
    color: rgb(90, 30, 18);
}

.bySellers p {
    font-weight: 200;
    margin-bottom: 10px;
    color: rgb(66, 18, 18);
}

.sellers {
    /* display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px; */
    align-items: center;

}

.mainSell {
    margin-bottom: 10px;
}

.imgDiv {
    height: 300px;
    width: 250px;
    background-color: rgb(253, 85, 51);
    padding-top: 10px;
    cursor: pointer;
}

.imgDiv img {
    height: 260px;
    width: 92%;
}

.imgDiv h3 {
    line-height: 18px;
    font-size: 20px;
}

.imgDiv p {
    line-height: 15px;
}

@keyframes abc {

    0%,
    15% {
        transform: translateX(0);
    }


    20%,
    40% {
        transform: translateX(-25%);
    }

    45%,
    65% {
        transform: translateX(-50%);

    }


    72%,
    99.9% {
        transform: translateX(-75%);
    }


    100% {
        transform: translateX(0);
    }

}

@keyframes Brand {
    15% {
        transform: translateX(0);
    }

    99.9% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateZ(0);
    }
}

@media screen and (max-width:480px) {

    .otbanner {
        height: 230px;
        display: flex;
        align-items: center;
        margin: 0px;
    }

    .banner1 {
        width: 95%;
        height: 200px;
        border-radius: 10px;
        margin: 0px 1.4%;
        margin-bottom: 25px;
    }

    .Bpart1 {
        height: 180px;
        width: 50%;
        padding-left: 20px;
    }

    .Bpart1 h1 {
        font-size: 20px;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

    .Bpart1 button {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    .Bpart1 h4 {
        font-size: 15px;

    }

    .banner1 img {
        height: 200px;
        width: 70%;
    }

    #banner2 {
        width: 95%;
        height: 200px;
        border-radius: 10px;
        margin: 0px 1.4%;
    }

    #Bpart2 {
        height: 150px;
        width: 50%;
        padding-left: 20px;
    }

    #banner2 img {
        height: 200px;
        width: 70%;
    }

    #Bpart2 button {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    #Bpart2 h3 {
        font-size: 15px;

    }

    #banner3 {
        width: 95%;
        height: 200px;
        border-radius: 10px;
        margin: 0px 1.4%;
    }

    #Bpart3 {
        height: 150px;
        width: 50%;
        padding-left: 20px;
    }

    #banner3 img {
        height: 200px;
        width: 70%;
    }

    #Bpart3 button {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    #Bpart3 h3 {
        font-size: 15px;

    }

    #banner4 {
        width: 95%;
        height: 200px;
        border-radius: 10px;
        margin: 0px 1.4%;
    }

    #Bpart4 {
        height: 180px;
        width: 50%;
        padding-left: 20px;
    }

    #banner4 img {
        height: 200px;
        width: 70%;
    }

    #Bpart4 button {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }

    #Bpart4 h3 {
        font-size: 15px;

    }

    .brandrow {
        height: 30px;
        margin: 0px;
        margin-bottom: 10px;
    }

    .brandrow img {
        width: 58px;
        height: 28px;

    }

    #brand1 {
        height: 22px;
        width: 30px;
    }

    #chIcon {
        display: none;
    }


    .slideSwiper {
        height: 230px;
        width: 95%;
    }

    /* .slideSwiper .swiper-slide {
        width: 46% !important;
    } */

    .BG1 {
        height: 190px;
        width: 88%;
        align-items: last baseline;
        justify-content: baseline;
    }

    .BG2 {
        height: 190px;
        width: 88%;
    }

    .BG3 {
        height: 190px;
        width: 88%;
    }

    .BG4 {
        height: 190px;
        width: 88%;
    }

    .BG5 {
        height: 190px;
        width: 88%;
    }

    .tittle {
        height: 75px;
        width: 140px;
        padding: 5px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.33);

    }

    .tittle h2 {
        font-size: 20px;
    }

    .tittle button {
        width: 85px;
        font-size: 12px;
        border: 0.5px solid #fff;
        background-color: transparent;
        color: #fff;
    }

    .byCat {
        height: 240px;
        margin: 0px;

    }

    .topCatagoryHeading {
        margin: 0px;
        background-image:
            linear-gradient(to right, white, yellow 50%, white);
        padding-bottom: 5px;
    }

    .byCat h2 {
        font-size: 20px;
    }

    .byCat p {
        margin: 0px;
        height: 10px;
        font-size: 10px;
    }


    .catS {
        height: 200px;
        margin: 0px;
        border: 0px;
        background: linear-gradient(rgba(243, 243, 207, 0.532), rgba(234, 239, 241, 0.664));
    }

    .cat1 {
        height: 180px;
        width: 110px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/man.jpg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat1 h5 {
        background-color: #6c6c6d5c;
    }

    .cat2 {
        height: 180px;
        width: 110px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/womanfation.jpg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat3 {
        height: 180px;
        width: 110px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/kidcasual.jpeg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat4 {
        height: 180px;
        width: 110px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/kid00.jpeg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat5 {
        height: 180px;
        width: 110px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/Sport2.jpeg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .catTittle {
        line-height: 10px;
    }

    .catTittle h3 {
        font-size: 10px;
    }

    .catTittle del {
        color: black;
        font-size: 10px;
    }

    .catTittle b {
        font-size: 10px;
    }

    .promies1 {
        margin: 0px 5px;
        flex-wrap: wrap;
        height: 70px;
    }

    .promies1 h4 {
        font-size: 10px;
        color: #2e2740;
        margin-bottom: 10px;
    }

    .promies1 .pro01 {
        height: 48px;
        display: block;
        padding: 0px;
    }

    .pro01 p {
        display: none;
    }

    .pro01 img {
        height: 30px;
        object-fit: cover;
        width: 30px;
    }

    .trend1 {
        height: 265px;
        padding: 0px;
        margin: auto;
        text-align: center;
    }

    .trend1 h3 {
        font-size: 20px;
        line-height: 35px;
        color: #f36e3e;
        margin: auto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background: linear-gradient(to right, rgb(247, 246, 246), rgb(129, 223, 232) 50%, rgb(251, 248, 248));
    }

    .trend01 {
        height: 230px;
    }

    .trendImg1 {
        flex-wrap: wrap;
        height: 225px;
    }

    .trendImg1 img {
        height: 200px;
        width: 100%;
        padding: 1px;
    }

    .trendImg1 button {
        height: 25px;
        width: 80px;
        background-color: rgba(0, 0, 0, 0.248);
        color: white;
        border: 1px solid;
        font-weight: 400;
        font-size: 10px;
    }

    #TButton {
        top: -35px
    }

    /* .swiper-pagination-bullet {
        width: 12px;
        height: 5px;
        border-radius: 5px;
    } */

    .trendImg1 button:hover {
        transform: none;
        background-color: transparent;
        color: white;
    }

    .trendImg1:hover {
        transform: none;

        cursor: pointer;
    }

    .bySellers {
        padding: 0px;
    }

    .div {
        background: linear-gradient(to right, rgb(243, 247, 247), rgb(114, 231, 122), rgb(246, 247, 247));
    }

    #sell {
        font-size: 25px;
        color: rgb(65, 16, 16);
    }

    .bySellers p {
        font-size: 12px;
        line-height: 15px;
    }

    .sellers {
        gap: 5px;
    }

    .imgDiv {
        height: 250px;
        width: 175px;
        background-color: rgb(253, 85, 51);
        padding-top: 4px;
        cursor: pointer;
    }

    .imgDiv img {
        height: 220px;
        width: 95%;
        border-radius: 8px;
    }

    .imgDiv h3 {
        line-height: 12px;
        font-size: 15px;
        color: rgb(67, 15, 15);
    }

    .imgDiv p {
        line-height: 12px;
    }


}

@media screen and (min-width:481px) and (max-width:998px) {
    .otbanner {
        height: 375px;
    }

    .banner1 {
        height: 350px;
        width: 96%;
        margin: 0px 1.4%;
    }

    .banner1 img {
        width: 60%;
    }

    .Bpart1 {
        padding-left: 10px;
    }

    #Bpart2 {
        padding: 10px;
    }

    #Bpart3 {
        padding: 10px;
    }

    #Bpart4 {
        padding: 10px;
    }

    .subBanner {
        flex-direction: column;
        height: 1150px;
        gap: 20px;
    }

    .brandrow {
        margin: 0px 3%;
    }

    .brandrow img {
        height: 45px;
        width: 125px;
    }

    #brand1 {
        height: 45px;
        width: 70px;
    }

    #chIcon {
        height: 46px;
        width: 155px;
    }

    .BG1 {
        height: 220px;
        width: 320px;
    }

    .BG2 {
        height: 220px;
        width: 320px;
    }

    .BG3 {
        height: 220px;
        width: 320px;
    }

    .BG4 {
        height: 220px;
        width: 320px;
    }

    .BG5 {
        height: 220px;
        width: 320px;
    }

    .tittle {
        height: 75px;
        width: 210px;
        padding: 5px;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, 0.33);

    }

    .tittle h2 {
        font-size: 20px;
    }

    .tittle button {
        width: 85px;
        font-size: 12px;
        border: 0.5px solid #fff;
        background-color: transparent;
        color: #fff;
    }

    .byCat {
        height: 420px;
    }

    .byCat h2 {
        font-size: 35px;
        line-height: 30px;
        color: rgb(98, 22, 22);
    }

    .topCatagoryHeading {
        margin: 0px;
        background-image:
            linear-gradient(to right, white, yellow 50%, white);
        padding-bottom: 5px;
    }

    .catS {
        height: 350px;
        padding: 0px;
        overflow: hidden;
        align-items: center;
        justify-content: center;

    }

    .cat1 {
        height: 320px;
        width: 220px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/man.jpg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat2 {
        height: 320px;
        width: 220px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/womanfation.jpg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat3 {
        height: 320px;
        width: 220px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/kid00.jpeg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat4 {
        height: 320px;
        width: 220px;
        border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/kidcasual.jpeg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
    }

    .cat5 {
        height: 320px;
        width: 220px;
         border: 3px solid transparent;
        border-radius: 10px;
        background-image:
            url(../assets/home/Sport2.jpeg),
            linear-gradient(45deg, red, yellow);
        background-size: cover;
        background-clip: padding-box, border-box;
        background-origin: border-box;
        object-fit: cover;
    }

    .promies1 {
        margin: 0px;
        flex-wrap: wrap;
        height: 80px;
    }

    .promies1 p {
        font-size: 18px;
    }

    #hide {
        display: none;
    }

    .pro01 {
        height: 70px;

    }

    .pro01 h4 {
        font-size: 20px;
        line-height: 45px;
        font-weight: 600;
    }

    .pro01 img {
        height: 50px;
        width: 50px;
        line-height: 50px;
    }

    .pro01 p {
        display: none;
    }


    .trend1 {
        height: 330px;
        padding: 0px;
        text-align: center;
    }

    .trend1 h3 {
        font-size: 30px;
        line-height: 45px;
        color: #f36e3e;
        margin: auto;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        background: linear-gradient(to right, rgb(247, 246, 246), rgb(129, 223, 232) 50%, rgb(251, 248, 248));
    }

    .trend01 {
        height: 280px;
    }

    .trendImg1 {
        flex-wrap: wrap;
        height: 275px;
    }

    .trendImg1 img {
        height: 270px;
        width: 100%;
        padding: 1px;
    }

    .trendImg1 button {
        height: 30px;
        width: 110px;
        background-color: rgba(0, 0, 0, 0.248);
        color: white;
        border: 1px solid;
        font-weight: 400;
        font-size: 15px;
    }

    #TButton {
        top: -40px
    }

    .swiper-pagination-bullet {
        width: 12px;
        height: 4px;
        border-radius: 5px;
    }

    .trendImg1 button:hover {
        transform: none;
        background-color: transparent;
        color: white;
    }

    .trendImg1:hover {
        transform: none;

        cursor: pointer;
    }

    .bySellers {
        margin-top: 15px;
        padding: 0px;
    }
     .div {
        background: linear-gradient(to right, rgb(243, 247, 247), rgb(114, 231, 122), rgb(246, 247, 247));
    }
    #sell {
        font-size: 35px;
        color: #f36e3e;
    }

    .bySellers p {
        font-size: 20px;
    }

    .sellers {
        /* height: 1300px; */
        flex-wrap: wrap;
        gap: 10px;
        padding: 0px;
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .imgDiv {
        height: 290px;
        width: 220px;
        padding-top: 5px;
    }

    .imgDiv img {
        width: 96%;
        height: 87%;
    }

    .imgDiv h3 {
        font-size: 18px;
        line-height: 15px;
    }

    .imgDiv p {
        font-size: 17px;
        line-height: 15px;
    }

}